.desktop-1 .hero-bg {
    position: absolute;
    left: 50%;
    top: 131px;
    translate: -50% 0;
    width: 1440px;
    height: 652px;
  }
  .desktop-1 .awlad-h {
    margin: 12px 16.5px 12px 0;
    display: inline-block;
    width: 128px;
    overflow-wrap: break-word;
    font-family: 'Azeret Mono';
    font-weight: 800;
    font-size: 28px;
    color: #0D1321;
  }
  .desktop-1 .download-resume {
    overflow-wrap: break-word;
    font-family: 'Azeret Mono';
    font-weight: 600;
    font-size: 20px;
    color: #0D1321;
  }.desktop-1 .in-the-near-future-ihope-to-become-adeveloper {
    margin-bottom: 24px;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Azeret Mono';
    font-weight: 800;
    font-size: 48px;
    line-height: 1.417;
    color: #0D1321;
  }
  .desktop-1 .lorem-ipsumis-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text {
    opacity: 0.7;
    margin: 0 52px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Azeret Mono';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #0D1321;
  }
  .desktop-1 .frame-1 {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .desktop-1 .contact-with-me {
    overflow-wrap: break-word;
    font-family: 'Azeret Mono';
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
  }
  .desktop-1 .frame-2 {
    border-radius: 8px;
    background: #0D1321;
    display: flex;
    padding: 21px 0;
    width: 244px;
    box-sizing: border-box;
  }
  .desktop-1 .frame-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .desktop-1 .frame-4 {
    position: relative;
    margin-bottom: 119px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .desktop-1 .why-web-development {
    margin-bottom: 24px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Azeret Mono';
    font-weight: 800;
    font-size: 32px;
    color: #0D1321;
  }